<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alex.examgroups">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity">

        </activity>

        <activity android:name=".ExamInfoActivity">
            android:launchMode = "singleInstance"
        </activity>

        <activity android:name=".ExamTopicActivity">

        </activity>

        <activity android:name=".ExamTopicsActivity">
            android:launchMode = "singleInstance"
        </activity>

        <activity android:name=".InviteActivity">

        </activity>

        <activity android:name=".InviteByNameActivity">

        </activity>

        <activity android:name=".MainMenuActivity">

        </activity>

        <activity android:name=".NewExamActivity">

        </activity>

        <activity android:name=".OldExamsActivity">

        </activity>

        <activity android:name=".ProfileActivity">

        </activity>

        <activity android:name=".SearchByTopicActivity">

        </activity>

        <activity android:name=".SettingsActivity">

        </activity>

        <activity android:name=".YourExamsActivity">
            android:launchMode = "singleInstance"

        </activity>

        <activity android:name=".YourProfileActivity">
            android:launchMode = "singleInstance"
        </activity>

        <activity android:name=".NewTopicActivity">
            android:launchMode = "singleInstance"
        </activity>
        <activity android:name=".FriendListActivity">

        </activity>
    </application>


</manifest>